<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="findContact($event)" placeholder="Search"></ion-searchbar>
  <ion-list>
    <button ion-item *ngFor="let item of allContacts" [navPush]="chatPage" [navParams]="item">
      <ion-icon name="pulse" *ngIf="contactIsRegistered(item)"></ion-icon>
      {{ item.name.formatted }}
    </button>
  </ion-list>
</ion-content>
